@charset "UTF-8";

/*join.jsp.ui */
/*서브 회원관리 메인 이미지*/

#sub_img_member{
	width:971px;
	height:179px; 
	background-image:url(../images/member/sub_back.png);
	background-repeat: no-repeat;
	background-position: left top;
}


#join{
	width:671px; margin:10px 0px 0px 0px;
	
}

#join fieldset{
	border:none; /*그룹 경계선을 제거*/ 
	padding: 10px 0px 20px 5px; 
}

#join fieldset legend{
	font-size:20px; border-bottom: 1px dotted #666; /*그룹 제목에 밑줄 점선*/
	width:600px; padding:5px 6px;
}

#join label{
	width:140px; float:left; /*왼쪽에 배치*/ margin:5px 0px;
}

#join input{
	margin:5px 0px;	
	/*label 과 input의 margin이 맞아야 정상적으로 출력됨*/
	border:1px solid #999; /*입력박스 테두리 모양 설정*/
	background-color:#fcfdea
}

#join input.id{
	width:100px; height:18px; /*입력박스 너비와 높이를 지정*/	
}

#join .dup{
	width:120px; height:23px; border-radius:8px;
	border:none; /*버튼 테두리 제거*/ 
	margin:0px 0px 0px 5px; font-weight: bold; color:#fff;
	background-image: url(../images/member/dup.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}

#join .pass{
	width: 150px; height:18px; 
}

#join .nick{
	width:80px; height:18px;
}

#join .email{
	width:200px; height:18px;
}

#join .address{
	width:300px; height:18px;	
}

#join .phone{
	width:180px; height:18px;
}

#buttons{
	margin:20px 0px 0px 0px;
}
#buttons .submit, #buttons .cancel{
	width:150px; height:30px; border: 1px solid #666;
	border-radius:10px; box-shadow:3px 3px 2px #ccc;
	font-size: 14px;
}

#buttons .submit{
	background-image:url(../images/member/submit_back.jpg);
	background-repeat:repeat-x;
	background-position: center center;
	color: #fff;
}

#buttons .cancel{
	background-image:url(../images/member/cancel_back.jpg);
	background-repeat:repeat-x;
	background-position: center center;
	margin:0px 0px 0px 20px;
	
}




