@charset "UTF-8";

/*notice.jsp ui*/

/*고객센터 게시판 서브 메인 이미지*/
#sub_img_center{
	width:971px; height:179px;
	background-image:url(../images/center/sub_back.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#notice{
	width:670px; border-collapse: collapse; 
	/*표테이블 테두리선을 분리하지 않고 한줄로 그린다.*/	
}

#notice th{
	height:10px; 
	text-transform: capitalize; /*단어별 영문 첫글자만 대문자로 변경*/
	font-size:14px; font-weight:bold; /*글자를 진하게*/
	padding:5px; /*상하좌우 안여백을 지정*/
	background-image: url(../images/center/t_back.jpg);
	background-repeat: repeat-x; /*x축 수평 방향으로 반복*/
	background-position: center center; color:#FFF;
}

#notice td{
	text-align: center; padding:6px 0px;
	border-bottom-width: 1px; /*밑줄 점선 두께*/
	border-bottom-style: dotted; /*밑줄 점선 스타일*/
	border-bottom-color: #999; /*밑줄 선 색*/
}


#notice td.left{
	text-align: left; padding-left:14px; 
	/*왼쪽 안여백을 줌으로써 약간의 들여쓰기 효과*/
}

#notice .tno{
	width:50px; 
	border-top-left-radius: 5px; /*테두리 좌상단을 둥글게*/
	border-bottom-left-radius: 5px; /*테두리 좌하단을 둥글게*/
	text-align: center;
}

#notice .ttitle{
	width: 400px; letter-spacing: 0.7em; /*글자간 간격*/	
}

#notice .twrite{
	width: 100x;
	text-align: center;
}

#notice .tdate{
	width: 50px;
	text-align: center;
}

#notice .tread{
	width: 50px; border-top-right-radius: 5px; /*우상단 테두리를 둥글게*/
	border-bottom-right-radius: 5px;
	text-align: center;
}

#table_search{
	float: right; /*검색 폼 오른족에 배치*/
	margin:15px 5px 10px 0px;
}

#table_search .input_box{
	height:20px; width:200px; border: 1px solid #333;
	border-radius: 10px; /*테두리를 둥글게*/
	background-color: #fefded;
}

#table_search .btn{
	width: 90px; height:23px; padding:2px; margin:0px 0px 0px 5px;
	border:1px solid #999; border-radius:10px;
	background-image:url(../images/center/t_back.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	color: #FFF;
}

#page_control{
	text-align: center; margin-top:20px; /*바깥 상단 여백 지정*/
} 

#page_control a{	
	text-decoration: none; /*하이퍼링크 된 곳 밑줄 선 없앰*/ 
	padding: 2px 5px; color:#333; margin:0px 5px;
	/*상하 바깥 여백은 0px, 좌우 바깥여백은 5px;*/
}

#page_control a:hover{/*하이퍼링크 된 곳 오버 시 css효과*/
	text-decoration: underline; /*밑줄 선 나옴*/
	color:#F90; 
	font-weight: bold; /*글자를 진하게*/
}

#notice tr:hover{
	background-color: #ffff80;
	cursor: pointer; cursor: hand;
}